/* App.js */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Dice */
.DieSelector {
  display: flex;
  justify-content: center;
}

.DieSelector button {
  padding: 0px;
  width: 60px;
  height: 60px;
}

.DieSelector input {
  padding: 0px;
  width: 60px;
  height: 56px;
}