/* App.js */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Dice */
.Dice {
  padding: 12px;
  display: grid;
  grid-template-columns: 80px 160px auto;
  /* grid-template: "selector history results"; */
}
.Die {
  padding-top: 6px;
  display: grid;
  height: auto;
  width: 80px;
  grid-template: 
  "roll roll"
  "add sub";
}
.DieAdd {
  height: 30px;
  min-width: 10px !important;
  grid-area: add
}

.DieSub {
  height: 30px;
  min-width: 10px !important;
  grid-area: sub;
}
.DieSelector {
  display: flex;
  flex-direction: column
}

.DieButton {
  padding: 0px;
  width: 80px;
  height: 60px;
  grid-area: roll;
}

.DieSelector input {
  height: 30px;
  width: 72px;
}

#numDice {
  padding: 0px;
  width: 36px;
  height: 56px;
}

.RollHistory {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 140px;
}

.RollHistory button {
  height: 60px;
}

.RollHistory p {
  margin: 10px;
}

.Results p span {
  width: auto;
  padding: 8px;
  background-color: beige;
}

/* Initiative */
.Initiative {
  padding: 12px;
}

.AddGroupButton {
  width: 100%;
}

.NarrowTextField {
  width: 94px;
}

#TrackGroup {
  margin-top: 6px;
}